body > header p {
    line-height:1.5
}

body > header button {
    padding:.25rem .5rem;
    font-size: inherit;
    margin:.5rem;
    border-radius:var(--pilled);
    border:2px solid var(--lavender);
    background: var(--lavender);
    color: var(--blueberry);
}
body > header button:hover {
    background-color: transparent;
}

body > nav  {
    transform:translateY(-10%);
    transition:.5s
}
body > nav.open {
    transform:translateX(0)
}

