body > header p {
    line-height:1.5
}

body > nav a:focus {
    background:none !important;
    color:inherit !important;
}

footer nav > div a {
    display:inline-block;
    margin-right:.5rem;
    color:blue
}