body {
  background-color: #2a1d88;
  color: #ffffff;
  font-family: 'Open Sans';
  padding: .2rem;
}

header {
  display: flex;
  flex-direction: column;
}
header h1 {
  display: flex;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0;
  order: 1;
}
header h1 abbr {
  display: block;
  background-color: #ffffff;
  color: #2a1d88;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: .2rem;
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
}
header h2 {
  order: 3;
}
header p {
  order: 2;
  margin: 0;
  margin-left: 2.2rem;
  font-size: .80rem;
}

img {
  width: 100%;
}

h2 {
  font-weight: 300;
}
a {
  color: white;
}

article {
  background: white;
  color: black;
}

article table {
  font-size: .7rem;
  overflow-x: auto;
  display: block;
  background: #f0f0f0;
}
article table :is(th, td) {
  text-align: left;
  vertical-align: top;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
article table th.blank {
  border: 0;
}

article :is(figcaption, caption) {
  font-size: .9rem;
  font-style: italic;
  color: silver;
  background-color: white;
  text-align: left;
  caption-side: bottom;
}

footer {
  border-top: 1px solid white;
}